<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <link href="https://fonts.googleapis.com/css2?family=Parisienne&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Allura&family=Parisienne&family=Rouge+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <title>Log In</title>
</head>
<body>
    

    <h1 class="loginText">Log In</h1>

<div class="container">
    
    <div class="formContainer">
        <form method="POST" action="/auth/login">

            <input class= "email" type="email" id="auth-email" name="email" placeholder="Email">
            <br>
            <input class ="password" type="password" id="auth-password" name="password" placeholder="Password">
        <br>
            <input class ="button" type="submit" value="Log in">
            <br>
        </form>
        <p><a href="/auth/signup">Don't have an account? Sign Up</a></p>
    </div>

</div>
</body>
</html>