
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/home.css">
    <title>Main Page</title>
</head>
<body>
    
    <div class="todoList">
        <h3 class="titleToDoList">Today's To Do List</h3>
        
        <button class ='buttonAddTask'>Add Task</button>
        
        <button class="complete" style="display: inline-block;">Complete</button>
    
    </div>
    <div class="calendar">
        <div class="calendarBanner">
            <h3>November</h3>
        </div>
        <div class="datesContainer">
            <div class="calendarDates" id="1">
                <p class = 'calendarNumber'>1</p>
            </div>
            <div class="calendarDates" id="2">
                <p class = 'calendarNumber'>2</p>
            </div>
            <div class="calendarDates" id="3">
                <p class = 'calendarNumber'>3</p>
            </div>
            <div class="calendarDates" id="4">
                <p class = 'calendarNumber'>4</p>
            </div>
            <div class="calendarDates" id="5">
                <p class = 'calendarNumber'>5</p>
            </div>
            <div class="calendarDates" id="6">
                <p class = 'calendarNumber'>6</p>
            </div>
            <div class="calendarDates" id="7">
                <p class = 'calendarNumber'>7</p>
            </div>
            <div class="calendarDates" id="8">
                <p class = 'calendarNumber'>8</p>
            </div>
            <div class="calendarDates" id="9">
                <p class = 'calendarNumber'>9</p>
            </div>
            <div class="calendarDates" id="10">
                <p class = 'calendarNumber'>10</p>
            </div>
            <div class="calendarDates" id="11">
                <p class = 'calendarNumber'>11</p>
            </div>
            <div class="calendarDates" id="12">
                <p class = 'calendarNumber'>12</p>
            </div>
            <div class="calendarDates" id="13">
                <p class = 'calendarNumber'>13</p>
            </div>
            <div class="calendarDates" id="14">
                <p class = 'calendarNumber'>14</p>
            </div>
            <div class="calendarDates" id="15">
                <p class = 'calendarNumber'>15</p>
            </div>
            <div class="calendarDates" id="16">
                <p class = 'calendarNumber' >16</p>
            </div>
            <div class="calendarDates"  id="17">
                <p class = 'calendarNumber'>17</p>
            </div>
            <div class="calendarDates"  id="18">
                <p class = 'calendarNumber'>18</p>
            </div>
            <div class="calendarDates"  id="19">
                <p class = 'calendarNumber'>19</p>
            </div>
            <div class="calendarDates"  id="20">
                <p class = 'calendarNumber'>20</p>
            </div>
            <div class="calendarDates"  id="21">
                <p class = 'calendarNumber'>21</p>
            </div>
            <div class="calendarDates"  id="22">
                <p class = 'calendarNumber'>22</p>
            </div>
            <div class="calendarDates"  id="23">
                <p class = 'calendarNumber'>23</p>
            </div>
            <div class="calendarDates"  id="24">
                <p class = 'calendarNumber'>24</p>
            </div>
            <div class="calendarDates"  id="25">
                <p class = 'calendarNumber'>25</p>
            </div>
            <div class="calendarDates"  id="26">
                <p class = 'calendarNumber'>26</p>
            </div>
            <div class="calendarDates"  id="27">
                <p class = 'calendarNumber'>27</p>
            </div>
            <div class="calendarDates"  id="28">
                <p class = 'calendarNumber'>28</p>
            </div>
            <div class="calendarDates"  id="30">
                <p class = 'calendarNumber'>30</p>
            </div>
            <div class="calendarDates"  id="31">
                <p class = 'calendarNumber'>31</p>
            </div>
           
    </div>
    </div>
  <div class="buttonsContainer">
    <div class ="buttons">
        <button class ="addEvent">Add</button>
     <h3>Events</h3>

    </div>
    <div class ="buttons">
        <button class ="addHomework"><a href="/homework">Add</a></button>
        <h3>Homework</h3>
    </div>
    <div class ="buttons">
        <button class ="addProjects">Add</button>
     <h3>Projects</h3>
    </div>
    <div class ="buttons">
        <button class ="addTest"><a href="">Add</a></button>
     <h3>Tests</h3>
    </div>
</div>
<div class="newEvent" style ="display: none;">
    <h3>New Event</h3>
    <label for="title">Title:</label>
    <input name="title" class = "title" type="text" placeholder="title">

    <label for="date">Date:</label>
    <input name="date" class="date" type="date" placeholder="DD/MM/YYYY">

    <label for="date">Color:</label>
    <input name="" class="colorBar" type="color" >
    
    <input type="submit" value="Add New Event" class="addNewEvent" >
</div>
<script src="js/test.js"></script>

</body>


