<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
</head>
<body>
    <header>
<!--         
        <nav>
            <ul>
                <% if (!currentUser) { %>
                <li><a href="/auth/signup">Signup</a></li>
                <li><a href="/auth/login">Login</a></li>
                <% } else { %>
                <li><a href="/auth/logout">Logout</a></li>
                <li><a href="/profile">Profile</a></li>
                <% } %>
            </ul>
            </nav> -->
    </header>
    <nav>
        <a class= "menu" href="/">Home</a>
        <a class="menu" href="/profile">Profile</a>
        <a class="menu" href="/homework">Homework</a>
        <h3 class="temp"><%= Math.round(temp) %>°C </h3>
        <img src='http://openweathermap.org/img/wn/<%= icon  %>@2x.png'><img/>
        
    </nav>
    <%-include('partials/alerts')%> 
    <%- body %> 
   
</body>
</html>