
h4{
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.alertsContainer{
    text-align: center;
    width: 100%;
    height:50px;
    line-height: 50px;
    background-color: rgb(93, 179, 92);
}

.alertsContainerTwo{
    text-align: center;
    width: 100%;
    height:50px;
    line-height: 50px;
    background-color: rgb(242,79,74);
}