nav{
    height: 60px;
    width: 100%;
    background-color: rgb(58,58,58);
    
}
.containerRight{
    background-color: white;
    height: 640px;
    width: 420px;
    margin-top: 10px;
    display: inline-block;
    margin-left: 10px;
    box-shadow: 0px 4px 5px 2px rgb(229,229,229);
}
.containerLeft{
    background-color: white;
    height: 640px;
    width: 920px;
    margin-top: 10px;
    display: inline-block;
    margin-left: 10px;
    box-shadow: 0px 4px 5px 2px rgb(229,229,229);
    text-align: center;
    vertical-align: top;
    font-family: 'Open Sans', sans-serif;
}

.todoList{
    height: 470px;
    width: 250px;
    margin-top: 10px;
    background-color: rgb(58,58,58);
    display: inline-block;
    box-shadow: 0px 4px 5px 2px rgb(229,229,229);
    vertical-align: top;
    text-align: center;
    position: absolute;
    right: 700px;
    top: 150px;
}
.description{
    display: block;
    width: 500px;
    height: 300px;
    margin: 10px 0px 5px 20px;
    box-shadow: 0px 4px 5px 2px rgb(229,229,229);
    text-align: left;
    margin-left: 300px;
    margin-top: 30px;
    border: white;
    
}
form{
    
    text-align: center;
    
}

textarea{
    font-family: 'Open Sans', sans-serif;
}
.title {
    border: white;
    box-shadow: 0px 4px 5px 2px rgb(229,229,229);
}
.button{
    display: inline;
    background-color: white;
    border: transparent;
    color:  rgb(58,58,58);
    box-shadow: 0px 4px 5px 2px rgb(229,229,229);
}
button{
    display: inline;
    background-color: white;
    border: transparent;
    color:  rgb(58,58,58);
    box-shadow: 0px 4px 5px 2px rgb(229,229,229);
    
}
.item{
    width: 300px;
    height: 50px;
    background-color:rgb(58,58,58) ;
    border-radius:30px;
    margin-top: 10px;
    margin-left: 15%;
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-align: center;
}

.itemTitle{
    line-height: 50px;
    margin-left: 10px;
}

.homeworkTitle{
    font-family: 'Open Sans', sans-serif;
    color:rgb(58,58,58) ;
    margin-left: 20%;
}
.titleToDoList{
    font-family: 'Open Sans', sans-serif;
    color: white;
}

a{
    color: white;
    text-decoration: underline;
    line-height: 50px;
    margin-left: 10px;
    font-family: 'Open Sans', sans-serif;
}

.progressBar{
    display: block;
    width: 500px;
    height: 50px;
    margin: 10px 0px 5px 20px;
    box-shadow: 0px 4px 5px 2px rgb(229,229,229);
    text-align: left;
    margin-left: 300px;
    border: white; 
    margin-top: 100px;
    border-radius: 30px; 
}
.bar{
    display: block;
    width: 0%;
    height: 50px;
    box-shadow: 0px 4px 5px 2px rgb(229,229,229);
    text-align: left;
    border: rgb(58,58,58); 
    border-radius: 30px; 
    background-color: rgb(58,58,58); ;
}

.taskText{
    border: 0.5px solid white;
    display: block;
}

.taskButton{
    border: transparent;
    color: white;
    display: block;
}

.buttonAddTask{
    display: inline;
    background-color: rgb(58,58,58);
    border: transparent;
    color: white;
    box-shadow: 0px 4px 5px 2px rgb(40,40,40);
}

.barPercentage{
    color: white;
    line-height: 50px;
    margin-left: 40%;
}