body{
    text-align: center;
    /* background-image: url(https://images.unsplash.com/photo-1496450080853-5f78c43af9e9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80); */
    }
    .container{
        margin-left: 39%;
        margin-top: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        width: 300px;
        height: 400px;
        background-color: white;
        box-shadow: 0px 4px 5px 2px rgba(58,58,58, 0.5);
        vertical-align: text-top;
    
    }
    .signupText{
        margin: 50px 670px;
        font-size: 30px;
        position: absolute;
        font-family: 'Rouge Script', cursive;
    }
    
    .email, .password ,.name{
        text-align: center;
        width: 200px;
        margin: 20px;
        padding: 10px;
        border: transparent;
        box-shadow: 0px 4px 5px 2px rgb(229,229,229);
    }
    .button{
        color: white;
        text-align: center;
        background-color: rgb(58,58,58);
        padding: 15px;
        width: 100px;
        border-radius: 30px ;
        border: 0.5px  rgb(251,76,121);
        box-shadow: 0px 4px 5px 2px rgb(229,229,229);
    
    }
    
    .formContainer{
        width: 300px;
        height: 200px;
    }
    
   
    
   